<a *ngIf="clickable; else plainAvatar"
   class="avatar-link"
   routerLink="/profile"
   [title]="user?.full_name || 'Profile'">
  <ng-container *ngTemplateOutlet="avatarContent"></ng-container>
</a>

<ng-template #plainAvatar>
  <span class="avatar-link no-link" [title]="user?.full_name || 'Profile'">
    <ng-container *ngTemplateOutlet="avatarContent"></ng-container>
  </span>
</ng-template>

<ng-template #avatarContent>
  <span class="avatar-box"
        [style.width]="sizePx"
        [style.height]="sizePx"
        [style.font-size]="fontPx">

    <img *ngIf="user?.avatar_url" [src]="user?.avatar_url" [alt]="user?.full_name || 'Profile'">

    <span *ngIf="!user?.avatar_url && initials" class="avatar-initials">{{ initials }}</span>

    <span *ngIf="!user?.avatar_url && !initials" class="material-symbols-outlined avatar-fallback">
      account_circle
    </span>
  </span>
</ng-template>
